@import "tailwindcss";

:root {
  --bg-color: #ffffff;
  --text-color: #111111;

  /* cards, sidebar, inputs */
  --surface-color: #f5f5f5;
}

.dark-mode {
  --bg-color: #0f172a;     /* slate-900 style */
  --text-color: #f1f5f9;   /* slate-100 style */
  --surface-color: #1e293b; 
}

/* Apply theme to entire app */
body {
  background: var(--bg-color);
  color: var(--text-color);
}

.card, .sidebar, .panel, .table-container {
  background: var(--surface-color);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
